body {
    font-family: Arial, Helvetica, sans-serif;
    /*specify other
     fonts in case the browser can't find the specific one - then last
      say serif or sans in case the second one is also not there*/
}

div#parent {
    border: 1px solid black;
    width: 780px;
    margin: 0 auto;
}

div#parent section {
    border: 1px solid black;
}

section.subhead {
    background: url('files/histHomepic.jpg') top left no-repeat;
    height: 50px;
}

section.footer {
    background-color: #60663E;
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 8px 0;
}

section.main-content-area {
    min-height: 400px;

    nav.secondary {
        min-height: 20px;
        text-align: right;
        padding-right: 20px;
        font-size: 11px;

        a {
            margin: 0 5px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;

            &:hover { /*pseudo class declaration - do something on an action*/
                text-decoration: underline;
            }
        }

        &.bottom { font-size: 9px;
            /* this is a class, so it can
                   override the default we made for uppercase*/

            a {
                text-transform: lowercase;
            }
        }
    }

     section.brown-box {
        background-color: #BEC4A1;
        padding: 20px;
        border-radius: 10px;
        min-height: 400px;
         display: flex;

          > * { border: 1px solid black;
              margin: 10px;
          /* the >* means 'all children of the parent in which you put the tag */

          }

         .left-side{ width:40%;
             display: flex;
             flex-direction: column;
             justify-content: space-between;

              > * { border: 3px solid black;}

             nav {
                 min-height: 60%;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-around;
                 a{ text-decoration: none;
                     display: block;
                     color: black;
                     &:hover {background-color: #60663E;
                     color: white;}
                 }
             }
             .links {
                 display: flex;
                 flex-direction: column-reverse;
                 align-items: center;

             }
         }

         .right-side{ width:60%;
             background-color: white;
             padding: 10px;
         p{font-size:12px;
             margin-bottom:0;}

    }
}
    div.more{   text-align: right;
        margin: 0;
        a{ text-decoration: none;
        color: red;
        font-size: 10px;
        &:hover {
            text-decoration: underline;}}
    }
h4{border-bottom: 2px dashed red;
    font-weight: unset;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}}
