body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

div#parent {

    width: 780px;
    margin: 0 auto;
    background-color: white;
}

div#parent section {

}

section.subhead {
    background: url('files/histHomepic.jpg') top left no-repeat;
    height: 50px;
}

section.footer {
    background-color: #60663E;
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 8px 0;
}

section.main-content-area { border: black solid 1px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("files/uofu_medallion_rt.gif");
    background-repeat: no-repeat;
    background-position: bottom right;

    nav.secondary {
        min-height: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        padding-top: 8px;
        font-size: 11px;
        gap: 5px;

        a {
            margin: 0 5px;
            color: black;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }

        &.bottom { font-size: 9px;

            a {
                text-transform: lowercase;
            }
        }
    }

     section.brown-box {
        background-color: #BEC4A1;
        padding: 20px;
        border-radius: 10px;
        min-height: 600px;
         display: flex;
         justify-content:space-between;
         width: 90%;
         margin: 5px auto 70px;
          }

         .left-side{ width:30%;
             display: flex;
             flex-direction: column;
             justify-content: space-between;

             nav {

                 font-size: 12px;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 margin-right: 10px;
                 margin-left: 10px;
                 a{ text-decoration: none;
                     text-transform: uppercase;
                     border-bottom: #60663E 2px solid;
                     display: block;
                     color: black;
                     padding: 12px 0 5px 18px;
                     &:hover {background-color: #60663E;
                     color: white;}
                 }
             }
             .links {padding: 5px;
                 display: flex;
                 flex-direction: column-reverse;
                 align-items: center;
             }
         }

         .right-side{ width:62%;
             background-color: white;
             padding: 10px;
           
         p{font-size:12px;
             margin-bottom:0;}
             img{ width: 100%;
             margin-bottom:5px;}

    }
}
    div.more{   display: flex;
        justify-content: flex-end;

        a{ text-decoration: none;
        color: red;
        font-size: 10px;
        &:hover {
            text-decoration: underline;}}
    }

h4{border-bottom: 2px dashed red;
    font-weight: unset;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    color: #60663E;
}
section.footer {
    background-color: #60663E;
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 8px 0;
}